
h1 {
    text-align: center;
}

#box-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#cadran {

    width: 20%;
    height: 100px;
    margin: auto auto auto auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    font-family: Radioland;
    color: red;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 2%;

}

#input-box {
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

#boutton-box {
    display: flex;
    justify-content: center;

}

@keyframes dd {
    0% {
        background-color: white
    }
    50% {
        background-color: darkred;
    }
    100% {
        background-color: white
    }
}

#mechebox {
    position: relative;
    height: 100px;
    float: right;


}

#meche {
    background-color: black;
    height: 20px;
    width: 95%;
    display: flex;


}

#flamme {
    position: relative;
    top: 22%;
    display: inline-block;
    height: 40px;
    width: 5px;
    background-color: red;


}
